// General styling
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.1rem;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wip {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: main-bold;
  color: $core--blue;
  font-size: 48px;
}
