//  Bold Font
@font-face {
  font-family: main-bold;
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/ITCAvantGardeStdBold.woff");
}
// Regular Font
@font-face {
  font-family: main-reg;
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/ITCAvantGardeStdBk.woff");
}
